{% extends 'base.html' %}

{% block jumbotron %}
 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>About us</h1>
        <p>This page is about the people who built this webpage.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Press me! &raquo;</a></p>
      </div>
    </div>
{% endblock %}

{% block content %}
<div class='col-sm-12' style='text-align: center'>
    

<h1 class="alert alert-warning">Other stuff</h1>
</div>
{% endblock %}
